.home-content{
	display: inline-flex;
	margin-top: 95px;
}

.home-content .trend-now{
	height: 200px;
	border: 1px solid;
	padding: 0;
}

.home-content .full-content{
	width: 100%;
    padding: 15px 0;
}

.home-content .full-content .trend-slide{
	height: 500px;
	border: 1px solid;
	margin-bottom: 20px;
}

.home-content .full-content .wraper-card{
    position: relative;
    display: -webkit-inline-box;
}

.home-content .full-content .wraper-card .card-news{
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
	display: inline-block;
	padding: 0;
	position: relative;
}

.home-content .full-content .wraper-card .card-news h2{
	margin-bottom: 20px;
	font-family: century-bold;
}

.home-content .full-content .wraper-card .card-news label.sub-main{
	font-family: century-reg;
    width: 750px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-content .full-content .wraper-card .card-news img{
	width: 100%;
	height: 200px;
	border-radius: 10px;
}