@font-face {
  font-family: century-reg;
  src: url('../fonts/CenturyGothic.ttf');
}

@font-face {
  font-family: century-bold;
  src: url('../fonts/GOTHICB0.ttf');
}

*{
  margin: 0;
}

/*HEADER*/
.content-head{
  height: 80px;
  background-color: #99AAAF;
}

.navbar a.a-head{
  text-decoration: none;
  color: #303030;
}

.navbar a.a-head:hover{
  color: aqua;
}
/*END OF HEADER*/







/*FOOTER*/
.footer{
  display: none;
	text-align: center;
	border: 1px solid;
	line-height: 1;
}

.footer .choose-footer{
	padding: 0 50px;
}

.footer a.choose-footer{
    line-height: 1;
    padding: 0 50px;
    text-decoration: none;
    color: #303030;
    font-size: 18px;
    font-weight: bold;
    color: #303030;
}
/*END OF FOOTER*/


@media screen and (min-width:360px) and (max-width:800px){
	.navbar a.choose-head{
		padding: 0;
	}
}